In [ ]:

#question 1
def multi_table(num):
    for i in range(1,10):
      print('{0}X{1}={2}'.format(num,i,num*i))
 
num = int(input('Input an integer: '))
 
if (num % 2)==0 :
  print("{0} is even".format(num)) 
else:
  print("{0} is odd".format(num)) 
if (num % 2)==0 :
  print (multi_table(num))
else:
  print (multi_table(num))